<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h2>显示图书信息</h2>
<a href="/create">新增</a>
<ul>
{#出版日期使用jinja2过滤器转换#}
    {% for book in books %}
        <li><a href="/book/{{ book.id }}">书名：{{ book.bname }} 出版日期：{{date(book.pubdate) }}</a><a  href="/delete/{{ book.id }}">删除</a></li>
    {% endfor %}

</ul>
</body>
</html>